<form [formGroup]="blogForm" (ngSubmit)="onSubmit()" class="col-8 offset-3">
  <div class="form-group row">
    <label class="col-2 col-form-label">Tittle:</label>
    <div class="col-10">
      <input class="form-control" type="text" formControlName="title">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Content:</label>
    <div class="col-10">
      <textarea class="form-control" type="text" formControlName="body"></textarea>
    </div>
  </div>
  <div class=" row col-2 offset-3">
    <button type="submit">Submit</button>
    <button type="button" routerLink="/blog">Back</button>
  </div>
</form>

